<?xml version="1.0" encoding="UTF-8"?>
<!--
  labwc root menu under XFCE on Phoenix-RTOS (M7 m7h-xfce): stage as
  /etc/xdg/labwc-xfce/menu.xml. Right click on the desktop background opens it when
  xfdesktop does not claim the click.
-->
<openbox_menu>

<menu id="client-menu">
  <item label="Minimize"><action name="Iconify" /></item>
  <item label="Maximize"><action name="ToggleMaximize" /></item>
  <item label="Fullscreen"><action name="ToggleFullscreen" /></item>
  <item label="Decorations"><action name="ToggleDecorations" /></item>
  <item label="Always on Top"><action name="ToggleAlwaysOnTop" /></item>
  <item label="Close"><action name="Close" /></item>
</menu>

<menu id="root-menu">
  <item label="Run…"><action name="Execute" command="/bin/xfce4-appfinder" /></item>
  <item label="Terminal"><action name="Execute" command="/bin/foot" /></item>
  <item label="Files"><action name="Execute" command="/bin/thunar" /></item>
  <item label="Settings"><action name="Execute" command="/bin/xfce4-settings-manager" /></item>
  <separator />
  <item label="Midnight Commander"><action name="Execute" command="/bin/foot -e /bin/mc" /></item>
  <separator />
  <item label="Reconfigure"><action name="Reconfigure" /></item>
  <item label="Exit"><action name="Exit" /></item>
</menu>

</openbox_menu>
